{% extends 'base.html' %}

{% block content %}

<h1>Welcome to blog world! Home of all the blogs!</h1>
<div>
    {% if not current_user.is_authenticated %}
    <a href="{{ url_for( 'get_login') }}">Login</a>
    {% else %}
    <p>Logged in as {{current_user.username}}</p>
    <a href="{{ url_for('logout')}}">Logout</a>
    <a href="{{ url_for('new_blog_form')}}">New Blog</a>
    {% endif %}
</div>

<div id="blogs">
    {% for blog in blogs %}
    <div class="blog-overview">
        <a href="{{ url_for( 'get_blog', blog_id=blog.id ) }}">
        <p>{{blog.title}}</p></a>
        <p>{{blog.subtitle}}</p>
        <p>By {{blog.author}}</p>
        
    </div>
    {% endfor %}
</div>

{% endblock %}