{% extends 'base.html' %}


{% block title %}
Edit your blog post
{% endblock %}


{% block content %}
<h1>Edit your blog</h1>
<form method="POST">
    <div>
        {{ form.title.label }}:
        {{form.title}}
    </div>
    <div>
        {{ form.subtitle.label }}:
        {{ form.subtitle }}
    </div>
    <div>
        {{ form.body.label }}:
        {{ form.body }}
    </div>
    <div>
        {{ form.submit }}
    </div>
    <a href="{{ url_for( 'get_blog', blog_id=blog_id ) }}">Cancel</a>
    
</form>


{% endblock %}